/* #️⃣Global Variables -------------------------------------------------------------------------------------------------- */
:root {
    --primary_text_color: #ffffff;
    --secondary_text_color: #d23465;

    --primary_background_color: #d23465;
    --secondary_background_color: #ffffff;
    --dark_background_transparency: rgba(0, 0, 0, 0.3);
    --background-color-absolute: #130a31;

    --transition-duration: 0.3s
}

/* #️⃣All Configuration ------------------------------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

/* #️⃣Body Configuration ------------------------------------------------------------------------------------------------ */
body {
    color: var(--primary_text_color);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("https://i.pinimg.com/originals/b8/4f/41/b84f4195a6d33c93d01111287c0c7b7e.jpg");
}

/* #️⃣Title section Configuration --------------------------------------------------------------------------------------- */
.section-title {
    font-size: 30pt;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

/* #️⃣Clear Configuration ----------------------------------------------------------------------------------------------- */
.clear{
    clear: both;
}

/* #️⃣Subtitle Configuration -------------------------------------------------------------------------------------------- */
.subtitle {
    color: var(--secondary_text_color);
    font-size: 18pt;
    margin-bottom: 5px;
}

/* #️⃣Top margin Configuration ------------------------------------------------------------------------------------------ */
.top-spacing {
    margin-top: 50px;
}

/* #️⃣Fill Configuration ------------------------------------------------------------------------------------------------ */
.fill {
    width: 100%;
}

/* #️⃣Rounded Configuration --------------------------------------------------------------------------------------------- */
.rounded {
    border-radius: 10px;
}

/* #️⃣Bordered Configuration -------------------------------------------------------------------------------------------- */
.bordered {
    border: 2px solid var(--primary_background_color);
}

/* #️⃣Video Configuration ----------------------------------------------------------------------------------------------- */
.video {

}

/* #️⃣Expanded Configuration -------------------------------------------------------------------------------------------- */
.hover-expanded:hover {
    transform: scale(1.05);
    transition: var(--transition-duration);
}

/* #️⃣Focused Configuration --------------------------------------------------------------------------------------------- */
.hover-focused:hover {
    color: var(--secondary_text_color);
    transition: var(--transition-duration);
}

/* #️⃣Focused Configuration --------------------------------------------------------------------------------------------- */
.hover-font-grow:hover {
    font-size: 25pt;
    transition: var(--transition-duration);
}

/* #️⃣Medium icon Configuration ----------------------------------------------------------------------------------------- */
.medium-icon-size {
    font-size: 20pt;
}

/* #️⃣Small Configuration ----------------------------------------------------------------------------------------------- */
.small-image {
    height: 180px;
    width: 300px;
}

/* #️⃣Horizontal spaced Configuration ----------------------------------------------------------------------------------- */
.horizontal-spaced {
    margin-right: 20px;
    margin-left: 20px;
}

/* #️⃣Display on center Configuration ----------------------------------------------------------------------------------- */
.display_on_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #️⃣Display on center with space Configuration ------------------------------------------------------------------------ */
.display_on_center_with_space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* #️⃣Container Configuration ------------------------------------------------------------------------------------------- */
#container {
    height: 100vh;
    width: 80vw;
    margin: auto;
}

/* #️⃣Header Configuration ---------------------------------------------------------------------------------------------- */
nav {
    padding-top: 20px;
}

#header li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

#header a {
    color: var(--primary_text_color);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

#header a:hover {
    color: var(--secondary_text_color);
    font-size: 13pt;
    transition: 0.3s;
}

/* #️⃣Page Configuration ------------------------------------------------------------------------------------------------ */
.page {
    height: 90vh;
}

/* #️⃣Presentation Configuration ---------------------------------------------------------------------------------------- */
#presentation {
    margin-top: 50px;
}

#presentation span {
    color: var(--secondary_text_color);
}

#profile-name-with-office-position {
    margin-left: 30px;
}

#profile-name-with-office-position h2 {
    margin: 5px 0;
    font-size: 30pt;
}

#profile-name-with-office-position h4 {
    font-size: 18pt;
}

/* #️⃣About Configuration ----------------------------------------------------------------------------------------------- */
#about-section {
    margin-top: 50px;
}

#apple-icon {
    font-size: 50pt;
    min-width: 150px;
}

#about-text h2 {
    font-size: 32pt;
}

/* #️⃣Down Arrows Configuration ----------------------------------------------------------------------------------------- */
#down-arrows-indicator {
    color: var(--secondary_text_color);
}

/* #️⃣Experience Configuration ------------------------------------------------------------------------------------------ */
.experience-configuration H2, span {
    color: var(--secondary_text_color);
}

.experience-configuration {
    min-height: 100px;
}

.experience-configuration span {
    font-size: 18pt;
}

/* #️⃣Academic Configuration -------------------------------------------------------------------------------------------- */
#academic-section td i {
    font-size: 18pt;
    margin: 5px 0;
}

/* #️⃣Rounded Container Configuration ----------------------------------------------------------------------------------- */
.rounded-container {
    height: auto;
    width: auto;

    padding: 25px 30px;
    margin: 0 25px;
    border-radius: 10px;

    background-color: var(--dark_background_transparency);
}

/* #️⃣Article Configuration --------------------------------------------------------------------------------------------- */
#articles-section a {
    color: var(--primary_text_color);
    text-decoration: none;
    text-align: center;
}

/* #️⃣Rounded Button Configuration -------------------------------------------------------------------------------------- */
.rounded-button {
    text-decoration: none;
    font-size: 18pt;
    padding: 20px 25px;
    margin: 10px;
    border-radius: 10%;
}

.rounded-button:hover {
    background-color: var(--primary_background_color);
    transform: scale(1.1);
    transition: var(--transition-duration);
}

.rounded-button i {
    color: var(--primary_text_color);
}

/* #️⃣Footer Button Configuration --------------------------------------------------------------------------------------- */
footer {
    height: 250px;
    width: auto;
    margin-top: 50px;
}

#right-section {
    height: 80px;
}
